appdirs==1.4.4
astroid==2.9.3
astropy==4.1
attrs==21.4.0
backports-abc==0.5
Beaker==1.7.0
biopython==1.73
black==21.12b0
bokeh==2.3.3
Bottleneck==1.0.0
cached-property==1.5.2
cffi==1.9.1
chardet==3.0.4
click==8.0.3
cloudpickle==2.0.0
cmiext==1.0
cmistark==1.4.dev0
compyte==0.0.1
contextvars==2.4
coverage==4.0.3
crystals==1.2.2
cycler==0.10.0
Cython==0.28.6
dask==2021.3.0
dataclasses==0.8
deap==1.0.1
decorator==4.4.2
diffractem==0.4.0.post2
distributed==2021.3.0
distro==1.8.0
docutils==0.14
fabio==0.9.0
fastcache==1.0.2
fisx==1.1.8
flake8==4.0.1
flake8-bugbear==22.1.11
flake8-docstrings==1.6.0
flake8-import-order==0.18.1
fsspec==2021.11.0
h5py==3.1.0
hdf5plugin==3.2.0
HeapDict==1.0.1
helpdev==0.7.1
html5lib==0.999
idna==2.10
ImageD11==1.9.4
imageio==2.11.0
immutables==0.16
importlib-metadata==4.2.0
ipython-genutils==0.1.0
iris-ued==5.2.5
isodate==0.5.4
isort==5.10.1
Jinja2==2.11.1
joblib==0.13.0
jsonschema==2.5.1
jupyter-core==4.3.0
kiwisolver==1.0.1
lazy-object-proxy==1.7.1
llvmlite==0.20.0
locket==0.2.1
lxml==4.2.5
Mako==1.1.0
MarkupSafe==0.23
matplotlib==3.3.4
mccabe==0.6.1
meson==0.55.1
mock==2.0.0
mpi4py==3.1.3
msgpack==1.0.2
mypy==0.931
mypy-extensions==0.4.3
mysql-connector-python==1.1.6
mysqlclient==1.3.12
nagiosplugin==1.3.3
nbformat==4.4.0
networkx==2.5.1
nose==1.3.7
npstreams==1.6.4
numba==0.35.0
numexpr==2.7.0
numpy==1.19.5
olefile==0.46
ondamonitor==21.5.0
opencv-python==4.7.0.72
packaging==21.3
pandas==0.24.1
partd==1.2.0
pathspec==0.9.0
pbr==4.2.0
Pillow==6.2.2
platformdirs==2.4.0
ply==3.9
prompt-toolkit==1.0.16
psutil==5.8.0
psycopg2==2.7.7
ptyprocess==0.5.1
PyCifRW==4.4.3
pycodestyle==2.8.0
pycparser==2.14
pycurl==7.43.0
pydocstyle==6.1.1
pyFAI==0.18.0
pyFFTW==0.11.1
pyflakes==2.4.0
pygame==1.9.4
Pygments==2.2.0
pygobject==3.22.0
pygraphviz==1.3rc2
pylint==2.12.2
PyMca5==5.5.3
pyopencl==2020.3.1
PyOpenGL==3.1.0
pyparsing==2.4.0
PyQt5==5.12.1
PyQt5-sip==4.19.22
pyqtgraph==0.11.1
pyslurm==22.5.0
PySocks==1.6.8
python-dateutil==2.5.3
python-hostlist==1.21
pytools==2019.1.1
pytz==2017.2
PyWavelets==1.1.1
PyYAML==3.13
pyzmq==14.7.0
QDarkStyle==2.8.1
QtPy==2.0.1
rdflib==4.2.1
reportlab==3.1.8
requests==2.14.2
rfc3986==1.3.0
ROOT==6.24.8
scikit-build==0.16.7
scikit-image==0.17.2
scikit-learn==0.24.2
scikit-ued==2.1.0
scipy==1.5.4
seaborn==0.11.2
silx==0.11.0
sip==4.19.22
six==1.14.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
spglib==1.16.3
Sphinx==1.2.3
tables==3.4.1
tblib==1.7.0
terminado==0.6
threadpoolctl==3.0.0
tifffile==2020.9.3
toml==0.10.2
tomli==1.2.3
toolz==0.11.2
tornado==6.1
tqdm==4.50.2
traitlets==4.3.2
typed-ast==1.5.1
typing-extensions==4.0.0
urllib3==1.25.6
virtualenv==15.1.0
wcwidth==0.2.5
wrapt==1.13.3
xfab==0.0.3
zict==2.0.0
zipp==3.6.0
